.loader{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: solid 10px rgba(10, 10, 10, 0);
    border-top: solid 10px white;
    animation-name: loadingLoop;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes loadingLoop
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}